.no-underline {
  text-decoration: none;
}
.more-btn {
  padding: 0;
  margin: 0;
  border: none;
  background: none;
}

.more-btn {
  --primary-color: #111;
  --hovered-color: #c84747;
  position: relative;
  display: flex;
  font-weight: 600;
  font-size: 20px;
  gap: 0.5rem;
  align-items: center;
}

.more-btn p {
  margin: 0;
  position: relative;
  font-size: 10px;
  color: var(--primary-color)
}

.more-btn::after {
  position: absolute;
  content: "";
  width: 0;
  left: 0;
  bottom: -7px;
  background: var(--hovered-color);
  height: 2px;
  transition: 0.3s ease-out;
}

.more-btn p::before {
  position: absolute;
/*   box-sizing: border-box; */
  content: "Subscribe";
  width: 0%;
  inset: 0;
  color: var(--hovered-color);
  overflow: hidden;
  transition: 0.3s ease-out;
}

.more-btn:hover::after {
  width: 100%;
}

.more-btn:hover p::before {
  width: 100%;
}

.more-btn:hover svg {
  transform: translateX(4px);
  color: var(--hovered-color)
}

.more-btn svg {
  color: var(--primary-color);
  transition: 0.2s;
  position: relative;
  width: 15px;
  transition-delay: 0.2s;
}

/* Media query for screens smaller than 768px */
@media (max-width: 768px) {
  .container {
    margin-top: 20px;
  }

  .container .news-data {
    min-height: auto;
  }

  .container.media-content {
    width: 100%;
    padding: 10px;
    box-shadow: none;
    border-radius: 0;
  }

  .img-fluid .news-img {
    width: 100%;
    height: auto;
  }

  /* Make h5 and p responsive */
  .h5 {
    font-size: 1.5rem; /* Increase font size */
  }

  .my-1 {
    font-size: 1rem; /* Increase font size */
  }
}


/* Media query for screens smaller than 576px (e.g., smartphones) */
@media (max-width: 576px) {
  .container {
    margin-top: 20px;
  }

  .responsive {
    align-items: center;
    width: 100%;
    overflow: hidden;
    display:contents;
    

    
  }
  

  .container .news-data {
    min-height: auto;
  }

  .media-content {
    width: 350px;
    padding: 10px;
    box-shadow: none;
    border-radius: 0;
    margin-right: 30px;
  }

  .img-fluid .news-img {
    width: 100%;
    height: auto;
  }

  .news-img {
    width: 350px;
    object-fit: contain;
  }


  .h5 {
    font-size: 1.3rem;
    white-space: normal; 
    margin: 300px;
  }

  .my-1 {
    font-size: 1rem;
  }
}
